extends layout

block content
 

     #container.container
     .hero-unit
      h1 欢迎来到 Microblog
      p Microblog 是一个基于 Node.js 的微博系统。
      p
        a.btn.btn-primary.btn-large(href='/login') 登录
        a.btn.btn-large(href='/reg') 立即注册
      each post in posts
       .row
         .span4
            h2
              a(href='#') #{post.userName}
              |  说
            p 
              small #{post.time}          
            p #{post.post}    
      
    
 